<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {%- if pkg %}
    <title>{% if pkg.title %}{{pkg.title}}{% else %}{{pkg.name}}{% endif %}</title>
    {%- endif %}
    <link rel="stylesheet" href="{{permalink('style.css')}}" />
    <style type="text/css">
      {{ guide.css }}
    </style>
  </head>
  <body>
    <div class="container">
      {%- if pkg %}
      <h1 class="title"><a href="{{permalink('index.html')}}">{% if pkg.title %}{{pkg.title}}{% else %}{{pkg.name}}{% endif %}</a></h1>
      {%- endif %}
      <div class="menu-container">
        <ol class="menu">
          {%- for item in styleguides %}
          {%- if item.name == guide.name %}
          <li class="active"><a href="{{permalink(item)}}">{{item.name|title}}</a></li>
          {%- else %}
          <li><a href="{{permalink(item)}}">{{item.name|title}}</a></li>
          {%- endif %}
          {%- endfor %}
        </ol>
      </div>
      {%- if readme %}
      <div class="readme">
        {{ readme|markdown }}
      </div>
      {%- else %}
      <div class="styleguide">
        {%- for section in guide.sections %}
        <div class="section">
          <h3 class="section-title">
            <span class="section-name">{{section.name}}</span>
            <span class="section-title">{{section.title}}</span>
          </h3>
          <div class="section-body">
            {{section.description|markdown}}
            <ul class="modifier">
              {%- for modifier in section.modifiers %}
              <li><strong>{{modifier.name}}</strong> - {{modifier.description}}</li>
              {%- endfor %}
            </ul>
          </div>
          {%- for example in section.examples %}
          <div class="example">
            {%- if example.name %}
            <span class="example-name">{{example.name}}</span>
            {%- endif %}
            {{example.code}}
          </div>
          {%- endfor %}
          <div class="section-html">
            <pre><code>{{section.html|highlight('html')}}</code></pre>
          </div>
        </div>
        {%- endfor %}
      </div>
      {%- endif %}
    </div>
  </body>
</html>
