<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {%- if pkg %}
    <title>{% if pkg.title %}{{pkg.title}}{% else %}{{pkg.name}}{% endif %}</title>
    {%- endif %}
    <link rel="stylesheet" href="{{permalink('style.css')}}" />
    <style type="text/css">
      {{ guide.css }}
    </style>
    {%- if pkg and pkg.googleAnalytics %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{pkg.googleAnalytics}}']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_trackPageLoadTime']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = '//www.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {%- endif %}
  </head>
  <body>
    <div class="container">
      {%- if pkg %}
      <h1 class="title"><a href="{{permalink('index.html')}}">{% if pkg.title %}{{pkg.title}}{% else %}{{pkg.name}}{% endif %}</a></h1>
      {%- endif %}
      <div class="menu-container">
        <ol class="menu">
          {%- if readme %}
          <li class="active"><a href="{{permalink('index.html')}}">Overview</a></li>
          {%- else %}
          <li><a href="{{permalink('index.html')}}">Overview</a></li>
          {%- endif %}
          {%- for item in styleguides %}
          {%- if item.name == guide.name %}
          <li class="active"><a href="{{permalink(item)}}">{{item.name|title}}</a></li>
          {%- else %}
          <li><a href="{{permalink(item)}}">{{item.name|title}}</a></li>
          {%- endif %}
          {%- endfor %}
        </ol>
      </div>
      {%- if readme %}
      <div class="readme">
        {{ readme|markdown }}
      </div>
      {%- else %}
      <div class="styleguide">
        {%- for section in guide.sections %}
        <div class="section">
          <h3 class="section-title">
            <span class="section-name">{{section.name}}</span>
            <span class="section-title">{{section.title}}</span>
          </h3>
          <div class="section-body">
            {{section.description|markdown}}
            <ul class="modifier">
              {%- for modifier in section.modifiers %}
              <li><strong>{{modifier.name}}</strong> - {{modifier.description}}</li>
              {%- endfor %}
            </ul>
          </div>
          {%- for example in section.examples %}
          <div class="example">
            {%- if example.name %}
            <span class="example-name">{{example.name}}</span>
            {%- endif %}
            {{example.code}}
          </div>
          {%- endfor %}
          <div class="section-html">
            {{section.html|highlight('html')}}
          </div>
        </div>
        {%- endfor %}
      </div>
      {%- endif %}
      <div class="footer">Powered by <a href="http://lab.lepture.com/ganam/">Ganam</a></div>
    </div>
  </body>
</html>
